<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{! inter font }}
	<link rel="preconnect" href="https://rsms.me/">
	<link rel="stylesheet" href="https://rsms.me/inter/inter.css">

	{{! css styles }}
	<link rel="stylesheet" href="/assets/css/common.css">
	<link rel="stylesheet" href="/assets/css/blog.css">
	<link rel="stylesheet" href="/assets/css/post.css">
	{{! analytics }}
	<script data-goatcounter="https://injuly.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
	<title>injuly / Blog</title>
</head>

<body>
	<div class="main">
		{{! The navbar }}
		<div class="nav-container">
			<nav>
				<a href="/" class="nav-link">index</a>
				<a href="/about" class="nav-link">about</a>
				<a href="/blog" class="active-nav-link nav-link">blog</a>
				<a href="/now" class="nav-link">now</a>
			</nav>
		</div>

		{{&content}}

		<div class="blog-index">
			<div class="posts-by-year">
				{{#blogs}}
				<h2> {{year}} </h2>
				<ul class="post-list">
					{{#posts}}
					<li>
						<a href="/{{url}}">
							{{meta.title}}
						</a>

						<span class="post-list-date">
							{{formattedDate}}
						</span>
					</li>
					{{/posts}}
				</ul>
				{{/blogs}}

			</ul>
		</div>
	</div>
</body>

</html>
