<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ meta.meta }}" />
    <meta property="og:title" content="{{ meta.title }}" />
    <meta property="twitter:title" content="{{ meta.title }}" />
    <meta property="twitter:description" content="{{ meta.meta }}" />

    {{ #meta.image }} 
    <meta property="og:image" content="{{ meta.image }}" />
		<meta name="twitter:image" content="{{ meta.image }}">
    {{ /meta.image }}

    <meta property="og:site_name"  content="InJuly" />

    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/post.css">
    <link rel="stylesheet" href="/assets/css/theme.css">
    
    {{# meta.katex}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.min.css" integrity="sha384-bYdxxUwYipFNohQlHt0bjN/LCpueqWz13HufFEV1SUatKs1cm4L6fFgCi1jT643X" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.min.js" integrity="sha384-Qsn9KnoKISj6dI8g7p1HBlNpVx0I8p1SvlwOldgi3IorMle61nQy4zEahWYtljaz" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer 
        src="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/contrib/auto-render.min.js"
        integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
    {{/ meta.katex }}

    {{! goat counter for analytics }}
    <script data-goatcounter="https://injuly.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>


    <title>{{ meta.title }}</title>
  </head>

  <body>
    <div class="main">
      <div class="nav-container">
        <nav>
          <a href="/" class="nav-link">index</a>
          <a href="/about" class="nav-link">about</a>
          <a href="/blog" class="nav-link active-nav-link">blog</a>
          <a href="/now" class="nav-link">now</a>
        </nav>
      </div>

      <div class="leader">
        <h1> {{meta.title}} </h1>
				<div class="post-date"> {{ formattedDate }} </div>
        <span class="tags" id="tags">
          {{#meta.tags}}
            <a class="tag" href="/posts/index.html?tag={{.}}">{{.}}</a>
          {{/meta.tags}}
        </span>
      </div>
      {{&content}}

			{{! giscus.app for comment section. }}
			<script src="https://giscus.app/client.js"
					data-repo="srijan-paul/srijan-paul.github.io"
					data-repo-id="MDEwOlJlcG9zaXRvcnkzMTY0MTg0NTk="
					data-category="Announcements"
					data-category-id="DIC_kwDOEtwpm84Cdokt"
					data-mapping="title"
					data-strict="0"
					data-reactions-enabled="1"
					data-emit-metadata="0"
					data-input-position="top"
					data-theme="light"
					data-lang="en"
					crossorigin="anonymous"
					defer>
			</script>
		</div>
  </body>
</html>
