<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/common.css">
  <link rel="stylesheet" href="/assets/css/home.css">
  <title>injuly</title>
</head>

<body>
  <div class="container">

    <div class="leader">
      <h1>Srijan Paul ~</h1>
      <div class="leader-links">
        <a href="/blog">Blog</a>
        <a href="https://github.com/srijan-paul" target="_blank">Github</a>
        <a href="https://drive.google.com/file/d/1IldqwSE6BwVvcMj2DOscFnrrE7ftZ-86/view" target="_blank">Resume</a>
        <a href="/now">Now*</a>
      </div>
    </div>

    <div class="main">
      {{&content}}
    </div>
  </div>
</body>

</html>
