<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/home.css">
  <title>injuly</title>
</head>

<body>
  <div class="container">
		<div class="nav">
			<div class="nav-left">
				<a id="home-link" href="/">injuly.in</a>
			</div>

			<div class="nav-right">
				<a href="/" class="active-nav-link nav-link">home</a>
				<a href="/blog" class="nav-link">blog</a>
				<a href="/current" class="nav-link">current</a>
			</div>
		</div>

    <hr style="height:1px;border:none;color:#333;background-color:#333;">

    <div class="leader">
      <div class="leader-image w">
        <img src="./assets/me.jpg" alt="Me" />
      </div>
      <h1>Srijan Paul</h1>
      <div class="leader-links">
        <a href="/blog">Blog</a> |
        <a href="https://github.com/srijan-paul" target="_blank">Github</a> |
        <a href="https://drive.google.com/file/d/1yAedcSbasJm1ILYVeY16FPZm0WeOdBUw/view?usp=sharing" target="_blank">Resume</a> |
      </div>
      <br />
    </div>

    <div class="main">
      {{&content}}
    </div>
  </div>
</body>

</html>