<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css" />
  <link rel="stylesheet" href="/assets/css/common.css">
  <link rel="stylesheet" href="/assets/css/home.css">
  <title>InJuly – Home</title>
</head>

<body>
  <div class="main">
		{{! The navbar }}
		<div class="nav-container">
			<div class="website-name">
				injuly
			</div>

			<nav>
				<a href="/" class="nav-link active-nav-link">index</a>
				<a href="/about" class="nav-link">about</a>
				<a href="/blog" class="nav-link">blog</a>
				<a href="/now" class="nav-link">now</a>
			</nav>
		</div>
		<hr>
      {{&content}}
    </div>
</body>

</html>
