<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/base16/solarized-light.min.css" integrity="sha512-ZW2g6Pn2pMbKSyjcA+r4Lc58kcfvOdcsTuCCTl3qz8NqVJwUtAuiN61pDoW3EEfrjwH2CPtkFWMdkzMY1idilA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../../css/common.css">
  <link rel="stylesheet" href="../../css/post.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"
    integrity="sha512-Pbb8o120v5/hN/a6LjF4N4Lxou+xYZ0QcVF8J6TWhBbHmctQWd8O6xTDmHpE/91OjPzCk4JRoiJsexHYg4SotQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <title>{{ meta.title }}</title>
</head>

<body>
  <div class="main">
		<div class="nav">
			<div class="nav-left">
				<a id="home-link" href="https://injuly.in">injuly.in</a>
			</div>

			<div class="nav-right">
				<a href="https://injuly.in" class="nav-link">home</a>
				<a href="https://injuly.in/blog" class="nav-link">blog</a>
				<a href="https://injuly.in/current" class="nav-link">current</a>
			</div>
		</div>

    <hr style="height:1px;border:none;color:#333;background-color:#333;">

    <div class="leader">
      <h2> {{meta.title}} </h2>
      <div class="post-date">{{meta.date}}</div>
      <ul class="tags" id="tags">
        {{! filled in by script }}
      </ul>
    </div>
    {{&content}}
  </div>
  <script>
    hljs.highlightAll();
    const tagsDiv = document.getElementById("tags")
    const tags = {{&meta.tags}}
    tags.forEach(tag => {
      const li = document.createElement('li')
      li.classList.add('tag')
      li.innerHTML = tag
      tagsDiv.appendChild(li)
    })
  </script>
</body>

</html>