<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/theme.css">
    <meta name="description" content="{{ meta.meta }}">
    
    {{# meta.katex}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.min.css" integrity="sha384-bYdxxUwYipFNohQlHt0bjN/LCpueqWz13HufFEV1SUatKs1cm4L6fFgCi1jT643X" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.min.js" integrity="sha384-Qsn9KnoKISj6dI8g7p1HBlNpVx0I8p1SvlwOldgi3IorMle61nQy4zEahWYtljaz" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer 
        src="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/contrib/auto-render.min.js"
        integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
    {{/ meta.katex }}

    <title>{{ meta.title }}</title>
  </head>

  <body>
    <div class="main">
      <div class="nav">
        <div class="nav-left">
          <a id="home-link" href="/">injuly</a>
        </div>

        <div class="nav-right">
          <a href="/" class="nav-link">index</a>
          <a href="/about" class="nav-link">about</a>
          <a href="/blog" class="nav-link">blog</a>
          <a href="/now" class="nav-link">now</a>
        </div>
      </div>

      <hr>

      <div class="leader">
        <h2> {{meta.title}} </h2>
        <div class="post-date">{{! filled in by the script}}</div>
        <span class="tags" id="tags">
          {{#meta.tags}}
            <a class="tag" href="/posts/index.html?tag={{.}}">{{.}}</a>
          {{/meta.tags}}
        </span>
      </div>
      {{&content}}


      <div class="footer">
        <hr>
        Questions, suggestions or comments? <br/>
        Shoot me an <a href="mailto:srijannr1@gmail.com">email</a>, or <a href="https://twitter.com/_injuly">tweet@me</a>.
      </div>
    </div>

    <script src="/util.js"></script>
    <script>
      const dateElement = document.querySelector(".post-date");
      dateElement.innerText = dateToString(new Date("{{&meta.date}}"), true);
    </script>
  </body>
</html>

