ol > li > a {
  text-decoration: none;
}

.popular-posts {
  width: 100%;
}

.popular-posts a {
  text-decoration: none;
  font-weight: normal;
  display: block;
  padding: 6px 0px;
  color: inherit;
}

.popular-posts > a > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.popular-posts > a:hover {
  background-color: inherit;
  color: inherit;
}

.popular-posts > a .date {
  color: var(--slate-400);
}

.popular-posts > a:hover .date {
  color: var(--sky-500);
}
