@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Roboto+Slab:wght@200;300&display=swap");

:root {
  --clr-highlight: #4291c6;
  --clr-highlight-dark: rgb(35, 109, 155);
}

body {
  font-family: "Roboto Slab", sans-serif;
  background-color: #fafafa;
  font-size: 16.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Serif", sans-serif;
}

.navbar {
  display: flex;
  gap: 2rem;
}

.navlink {
  color: black;
  font-weight: bold;
}
