@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=JetBrains+Mono&family=Source+Serif+4:wght@300;400&display=swap');

:root {
  --clr-primary: #01a3a4;
  --clr-font: black;
  --link-color: #01a3a4;
  --bg-color: #fafafa;
  --font-serif-2: "Source Serif 4";
  --font-serif-1: "IBM Plex Serif"
}

body {
  font-family: var(--font-serif-2), sans-serif;
  background-color: #fafafa;
  font-size: 16.5px;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif-1), sans-serif;
}

/* a:visited,
a:focus,
a {
  color: var(--clr-highlight);
}

a:hover {
  color: var(--clr-highlight-dark);
} */

a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: var(--link-color);
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  filter: brightness(0.8);
  color: var(--link-color);
}


.navbar {
  display: flex;
  gap: 2rem;
}

.navlink {
  color: black;
  font-weight: bold;
}

pre, code {
  font-weight: 400;
}

.nav {
  margin-top: 2rem;
}

#home-link {
  font-size: 1.5rem;
  color: var(--clr-font);
  text-decoration: none;
  font-weight: bold;
  font-family: var(--font-serif-1);
}

#home-link:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.nav-right {
  display: flex;
  gap: 1rem;
  font-weight: bold;
}

.nav-link {
  text-decoration: none !important;
  font-family: var(--font-serif-2);
  opacity: 0.8;
}

.active-nav-link {
  opacity: 1;
}

.post-list > li {
  list-style-type: none;
  list-style-position: outside;
  margin-left: 0;
}

.post-list > li > a {
  text-decoration: none;
}

.post-list-date {
  color: var(gray);
  font-size: 15px;
  font-family: var(--font-serif-1);
  float: right;
}

.main {
  margin-bottom: 5rem;
}

@media screen and (max-width: 400px) {
  .nav {
    display: inline-block;
    text-align: left;
  }

  .nav-left {
    margin-bottom: 0.5rem;
  }
}