html,
body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  background-color: var(--bg-color);
}

.main {
  width: 47%;
  margin: auto;
  margin-bottom: 5rem;
  font-size: var(--font-size);
}

.post-date {
  color: gray;
}

.tex {
  text-align: center;
  overflow-x: scroll;
  max-width: 80%;
  margin: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: 1px; /* Firefox */
}

.tex::-webkit-scrollbar {
  display: none;
}

/* tags */

.tags {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-family: var(--font-serif-1);
  display: flex;
  margin-bottom: 20px;
}

.tags > a {
  display: inline-block;
  padding-right: 0.8rem;
}

/* lists */

ul {
  list-style-position: inside;
  padding-left: 0;
}

ul li {
  list-style: disc outside;
  margin-left: 2%;
}

ol {
  list-style: none;
  list-style-position: inside;
  padding-left: 1rem;
}

ol li {
  list-style: decimal;
  list-style-position: initial;
  margin: 0;
  padding: 0;
  padding-bottom: 1%;
}

/* images */
img, video {
  border-radius: 1.5%;
  /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 2px 4px 0 rgba(0, 0, 0, 0.5);*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  max-width: 100%;
}


/* Blockquotes */

blockquote {
  background: var(--bq-bg);
  border-left: 10px solid var(--bq-border);
  margin: 1.2em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.05em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.05em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

/* Tables */

.toc th {
  padding: 0.3rem 1.2rem;
}

.toc td {
  padding: 0.3rem 1.2rem;
  border-bottom: 1px solid #e1e1e1;
  /* border: none; */
}

.toc table {
  padding: 0rem;
  border: 1px solid #e1e1e1;
  border-bottom: none;
}

.toc a {
  text-decoration: none !important;
}

.tag {
  padding-right: 5px;
  /* float: right; */
  cursor: pointer;
  color: #01a3a4;
}

.tag:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

.footer {
  margin-top: 2rem;
  text-align: center;
}

/* hljs override */

code[class*="language-"] {
  background-color: var(--bg-color);
}

/* 
 * styles specific to certain blogs
 */

/* fourier series */
.fourier-canvas-pair {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.fourier-canvas-pair > canvas {
  width: 350px;
  height: 350px;
}

@media screen and (max-width: 1000px) {
  .main {
    width: 85%;
  }
}

@media screen and (min-width: 1500px) {
  .main {
    width: 35%;
  }
}

@media screen and (max-width: 500px) {
  .main {
    width: 94%;
  }

  .fourier-canvas-pair {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
