/* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&family=Zilla+Slab:wght@300;400&family=Cousine:ital,wght@0,400;0,700;1,400&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&family=Space+Grotesk:wght@300;400;500;600;700&family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --clr-primary: #2c3e50;
  --clr-font: #2c3a47;
  --clr-bold: #1e272e;
  --link-color: #0f6965;
  --link-color-hover: var(--link-color);
  --bg-color: white;
  /* other fonts: Cormorand, Zilla Slab, IBM Plex Serif, Bai Jamjuree */
  --font-body: "Rubik";
  --font-heading: "Space Grotesk";
  --font-code: "IBM Plex Mono";
  --font-weight: 300; 
  --font-weight-bold: 500;
  --font-size: 16px;
}

strong {
  font-weight: var(--font-weight-bold);
}

body {
  font-family: var(--font-body), sans-serif;
  background-color: var(--bg-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
}

/* a:visited,
a:focus,
a {
  color: var(--clr-highlight);
}

a:hover {
  color: var(--clr-highlight-dark);
} */

a,
a:visited,
a:link,
a:active {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: var(--clr-bold);
  color: var(--link-color);
  font-weight: 400;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: var(--link-color-hover);
}

.post-list a,
a:visited {
  text-decoration: none;
}

.post-list a:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
}

.navbar {
  display: flex;
  gap: 2rem;
}

.navlink {
  color: black;
  font-weight: bold;
}

pre,
code {
  font-weight: 400;
}

/* codeblocks */
code {
  font-size: 16px !important;
  font-family: var(--font-code), monospace, sans-serif;
  overflow: auto;
}

div[class="sourceCode"]  {
	border-radius: 3px;
	border: 1px solid #ccc;
}

:not(pre) > code:not([class^="language-"]) {
	border-radius: 3px;
	border: 1px solid #ccc;
}


.nav {
  margin-top: 2rem;
}

#home-link {
  font-size: 1.5rem;
  color: var(--clr-font);
  text-decoration: none;
  font-weight: bold;
  font-family: var(--font-body);
}

#home-link:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.nav-right {
  display: flex;
  gap: 1rem;
  font-weight: bold;
}

.nav-link {
  text-decoration: none !important;
  font-family: var(--font-body);
  opacity: 0.8;
}

.active-nav-link {
  text-decoration: underline !important;
  opacity: 1;
}

.post-list > li {
  box-sizing: border-box;
  padding: 0;
  clear: both;
  list-style-type: none;
  list-style-position: outside;
  margin-left: 0;
}

.post-list > li > span {
  text-decoration: none;
  vertical-align: baseline;
}

.post-list-date {
  color: gray;
  font-size: 15px;
  font-family: var(--font-body);
  float: right;
}

.main {
  margin-bottom: 5rem;
  max-width: 840px;
}

hr {
  height: 1px;
  border: none;
  color: #333;
  background-color: #333;
}

pre,
code {
  tab-size: 2;
}


.center {
  text-align: center;
}

@media screen and (max-width: 730px) {
  .post-list > li {
    padding: 1rem 0rem;
  }
}

@media screen and (max-width: 400px) {
  .post-list {
    font-size: 15px;
  }

  .post-list > li > a {
    float: none;
  }

  .nav {
    display: inline-block;
    text-align: left;
  }

  .nav-left {
    margin-bottom: 0.5rem;
  }
}
