@import url("https://fonts.googleapis.com/css2?family=Cherry+Swash:ital,wght@0,400;0,500&family=Space+Grotesk:wght@300;400;500&family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&display=swap");

/* Cherry Swash, Zilla Slab */

* {
  box-sizing: border-box;
}

hr {
  height: 2px;
  border: none;
  color: #ccc;
  background-color: #ccc;
}

:root {
  --clr-primary: #2c3e50;
  --clr-grey: rgb(107, 107, 107);
  --clr-font: #2c3a47;
  --clr-bold: #1e272e;
  --clr-primary: #4e2cbf;
  --clr-highlight: #952cbf;
  --clr-highlight-bg: #fde3227a;
  --clr-link: var(--clr-primary);
  --clr-link-hover: var(--clr-highlight);
  --bg-color: white;
  /* other fonts: Cormorand, Zilla Slab, IBM Plex Serif, Bai Jamjuree */
  --font-body: "Space Grotesk", sans-serif;
  --font-heading: "Cherry Swash", Arial;
  --font-code: "IBM Plex Mono", monospace;
  --font-weight: 300;
  --font-weight-bold: 400;
  --font-size: 16px;
}

strong {
  font-weight: var(--font-weight-bold);
}

body {
  font-family: var(--font-body), sans-serif;
  background-color: var(--bg-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: 1.5;
}

::selection {
  background-color: var(--clr-highlight-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
}

a,
a:visited,
a:link,
a:active {
  text-decoration-color: var(--clr-link);
  color: var(--clr-link);
  font-weight: 400;
}

a:hover {
  /* color: var(--clr-link-hover); */
  background-color: var(--clr-highlight-bg);
  transition-duration: 0.2s;
}

.navbar {
  display: flex;
  gap: 2rem;
}

.navlink {
  color: black;
  font-weight: bold;
}

pre,
code {
  font-weight: 400;
}

/* codeblocks */
code {
  font-family: var(--font-code), monospace, sans-serif;
  overflow: auto;
}

div.sourceCode {
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: calc(var(--font-size) - 1px);
}

:not(pre) > code:not([class^="language-"], :has(> div)) {
  border-radius: 3px;
  border: 1px solid #ccc;
}

.nav {
  margin-top: 2rem;
}

#home-link {
  font-size: 1.5rem;
  color: var(--clr-font);
  text-decoration: none;
  font-weight: bold;
  font-family: var(--font-heading);
}

#home-link:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.nav-right {
  display: flex;
  gap: 1rem;
  font-weight: bold;
}

.nav-link {
  text-decoration: none !important;
  font-family: var(--font-body);
  opacity: 0.8;
}

.active-nav-link {
  text-decoration: underline !important;
  opacity: 1;
}

.post-list > li {
  box-sizing: border-box;
  padding: 0;
  clear: both;
  list-style-type: none;
  list-style-position: outside;
  margin-left: 0;
}

.post-list > li > span {
  text-decoration: none;
  vertical-align: baseline;
}

.post-list > li > a {
  text-decoration: none;
}

.post-list > li > a:visited {
  text-decoration: none;
}

.post-list-date {
  color: gray;
  font-size: 15px;
  font-family: var(--font-body);
  float: right;
}

.main {
  margin-bottom: 5rem;
  max-width: 840px;
}

pre,
code {
  tab-size: 2;
}

.center {
  text-align: center;
}

details {
	background-color: #f8f6ff;
  color: var(--clr-primary);
  font-weight: 300;
  border-radius: 12px;
  border: 1px solid var(--clr-highlight);
  padding: 10px; 
  font-size: calc(var(--font-body) - 1px);
}

details > summary {
  font-family: var(--font-body);
  margin: 5px 0px;
	font-weight: var(--font-weight-bold);
}

details[open] > summary {
	color: var(--clr-highlight);
}



@media screen and (max-width: 730px) {
  .post-list > li {
    padding: 1rem 0rem;
  }
}

@media screen and (max-width: 400px) {
  .post-list {
    font-size: 15px;
  }

  .post-list > li > a {
    float: none;
  }

  .nav {
    display: inline-block;
    text-align: left;
  }

  .nav-left {
    margin-bottom: 0.5rem;
  }
}

/* Utility classes used in markdown */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-gap-10 {
  gap: 10px;
}

.flex-33 {
  flex: 33%;
}
